* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Braah One";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-size: cover;
    height: 100vh;
    background-image: url("https://wallpaperaccess.com/download/music-concert-1569651");
    background-repeat: no-repeat;
    font-family: Lato;
}

h1 {
    font-size: 100px;

}